DATABASE_URL="postgresql://neondb_owner:npg_lN3anI2OVHDA@ep-holy-base-adqoxzzs.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

AUTH_SECRET="madrasa-secret-key-2024-change-this"

ADMIN_EMAIL="Ayman@gmail.com"
ADMIN_PASSWORD="Ayman123"
